<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Create Student</title>
</head>
<body>

<h2>Create Student</h2>

<form action="/students/create" method="POST">
  <label for="idno">ID Number:</label><br>
  <input type="text" id="idno" name="idno"><br>
  
  <label for="firstName">First Name:</label><br>
  <input type="text" id="firstName" name="firstName"><br>
  
  <label for="lastName">Last Name:</label><br>
  <input type="text" id="lastName" name="lastName"><br>
  
  <label for="course">Course:</label><br>
  <input type="text" id="course" name="course"><br>
  
  <label for="level">Level:</label><br>
  <input type="text" id="level" name="level"><br><br>
  
  <input type="submit" value="Submit">
</form>

</body>
</html>