<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="templates/css/w3css.css">
<link rel="stylesheet" href="templates/styles.css"> 
</head>
<body>


<div class="header">
    <h1>Student</h1>
</div>


<div class="second-header">
    <button class="btn btn-primary" id="sidebar-toggle">Toggle Sidebar</button>
</div>


<div class="sidebar" id="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
        <a class="nav-link" href="home.html">HOME</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Subject</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Enrollment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reports</a>
        </li>
    </ul>
</div>

<div class="content">
    <div class="w3-half w3-container w3-padding">
      <div class="w3-card-4 w3-round-xlarge w3-container w3-padding">
        <h2>Create Student</h2>
        <form id="createStudentForm" action="/students" method="POST">
          <label for="idno">ID Number:</label><br>
          <input type="text" id="idno" name="idno" required><br>
          
          <label for="firstName">First Name:</label><br>
          <input type="text" id="firstName" name="firstName" required><br>
          
          <label for="lastName">Last Name:</label><br>
          <input type="text" id="lastName" name="lastName" required><br>
          
          <p>
						<label><b>COURSES</b></label>
						<select id="course" ng-model="course" class="w3-select" required>
							<option value="bsit">INFORMATION TECHNOLOGY</option>
							<option value="bsim">INFORMATION MANAGEMENT</option>
							<option value="bsis">INFORMATION SYSTEMS</option>
							<option value="bscs">COMPUTER SCIENCE</option>
							<option value="act">ASSOC. IN COMPUTER TECH.</option>
						</select>
					</p>
          <p>
						<label><b>LEVEL</b></label>
						<select id="level" ng-model="level" class="w3-select" required>
							<option value="1">FIRST YEAR</option>
							<option value="2">SECOND YEAR</option>
							<option value="3">THIRD YEAR</option>
							<option value="4">FOURTH YEAR</option>
						</select>
					</p>
          <button type="submit">Create</button>
        </form>
      </div>
    </div>
<br><br>
<input type="text" ng-model="search" placeholder="&#128269; search..." class="w3-padding w3-left"><br><br>
    <div class="w3-half w3-container w3-padding">
      <h2>Students List</h2>
      <table class="w3-table-all" id="studentsTable">
        <thead>
          <tr>
            <th>ID Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Course</th>
            <th>Level</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="studentsTableBody">
          
        </tbody>
      </table>
    </div>
  </div>

  
<div id="updateStudentModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Update Student Information</h2>
    <form id="updateStudentForm">
      <label for="updateIdno">ID Number:</label><br>
      <input type="text" id="updateIdno" name="updateIdno" disabled><br>
      
      <label for="updateFirstName">First Name:</label><br>
      <input type="text" id="updateFirstName" name="updateFirstName" required><br>
      
      <label for="updateLastName">Last Name:</label><br>
      <input type="text" id="updateLastName" name="updateLastName" required><br>
      
      <label for="updateCourse">Course:</label><br>
      <input type="text" id="updateCourse" name="updateCourse" required><br>
      
      <label for="updateLevel">Level:</label><br>
      <input type="text" id="updateLevel" name="updateLevel" required><br><br>
      
      <button type="submit">Update</button>
    </form>
    
  </div>
</div>

  
  <script src="main.js"></script>
  <script>
    
    fetchStudentList();
  </script>
  
  </body>
  </html>
  
